AWSTemplateFormatVersion: 2010-09-09
Description: ---
Metadata: 

Parameters: 
  Owner:
    Description: Owner of this blueprint solution
    Type: String
    AllowedPattern : '[a-zA-Z0-9 ]*'
Mappings: 

Conditions: 

Resources: 
  BusinessApplicationPortfolio:
    Type: "AWS::ServiceCatalog::Portfolio"
    Properties:
      Description: "A portfolio of self-service Security applications."
      DisplayName: "Security"
      ProviderName: !Ref Owner
Outputs: